[submodule "dcmrs-broker"]
	path = dcmrs-broker
	url = https://github.com/RSNA/dcmrs-broker.git
[submodule "s4s-fhir-broker"]
	path = s4s-fhir-broker
	url = https://github.com/RSNA/s4s-fhir-broker.git
[submodule "introspection-service"]
	path = introspection-service
	url = https://github.com/RSNA/introspection-service.git
[submodule "s4s-edgeserverdb"]
	path = s4s-edgeserverdb
	url = https://github.com/RSNA/s4s-edgeserverdb.git
